<!DOCTYPE html>
<html>
  <head>
    <title>Image Processing App</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>
  <body>
    <h1>Image Processing Application</h1>
    <form id="upload-form" enctype="multipart/form-data">
      <input type="file" name="image" id="image-input" />
      <button type="submit">Upload</button>
    </form>
    <div id="image-container"></div>
    <button id="histogram-btn">Histogram Equalization</button>
    <button id="edge-btn">Edge Detection</button>
    <button id="convolution-btn">Convolution</button>

    <script src="static/script.js"></script>
  </body>
</html>
